@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@font-face {
    font-family: Gotham;
    src: url(images/fonts/Gotham-Medium.otf);
}
/* global settings */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
::before,
::after{
    box-sizing: border-box;
}
body{
    font-size: 16px;
    line-height: 1.5;
    -webkit-tap-highlight-color: transparent;
    font-family: "Open sans", sans-serif;
    font-weight: 300;
}
img{
    vertical-align: middle;
    max-width: 100%;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
h1{
    font-weight: 700;
    color: #007f6e;
}
h2{
    font-weight: 600;
}
h3,
h4,
h5,
h6{
    font-weight: 500;
     color: #004987;
}
p{
    font-size: 20px;
}
.container{
    max-width: 1170px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.justify-content-between{
    justify-content: space-between;
}
.align-items-center{
    align-items: center;
}
.min-vh-100{
    min-height: 100vh;
}
.sec-padding{
    padding: 80px 0;
}
/* buttons */
.btn{
    display: inline-block;
    padding: 10px 30px;
    background-color: transparent;
    text-transform: capitalize;
    border-radius: 30px;
    font-weight: 500;
    transition: all 0.3s ease;
    font-size: 16px;
    cursor: pointer;
    font-family: inherit;
    color: white;
    line-height: 1.5;
    user-select: none;
    border: none;
}
.btn-default{
    border: 2px solid #007f6e;
}
.btn-default:hover{
    color: #007f6e;
    background-color: #f8f8f8;
}
/* section title */
.section-title{
    font-family: "Gotham", sans-serif;
    width: 100%;
    padding: 0 15px;
    text-align: center;
    margin-bottom: 60px;
}
.section-title h2{
    font-size: 25px;
    text-transform: uppercase;
    color: #004987;
}
/* .section-title h2::before{
    content: '';
    display: block;
    font-size: 24px;
    color: #007f6e;
    font-weight: 400;
    text-transform: capitalize;
} */

/* animation */
@keyframes zoomInOut{
    0%,100%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
}
/* header */
.header{
    padding: 12px 0;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
    width: 100%;
}
.header::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #f8f8f8;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    z-index: -1;
    transition: transform 0.5s ease;
    transform: translateY(-100%);
}
.header.sticky::before{
    transform: translateY(0%);
}
.header .logo{
    min-height: 34px;
    display: flex;
    align-items: center;
    padding: 0 15px;
}
.header .logo img{
    height: 40px;
    width: 40px;
}
.header .nav-toggler{
    height: 34px;
    width: 44px;
    margin-right: 15px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header .nav-toggler.active{
    position: absolute;
    right: 0;
    z-index: 1;
    transition: all 0.5s ease;
    transform: translateX(-200px);
}
.header .nav-toggler span{
    height: 3px;
    width: 30px;
    display: block;
    background: #007f6e;
    position: relative;
}
.header .nav-toggler.active span{
    background-color: transparent;
    transition: background-color 0.5s ease;
}
.header .nav-toggler span::before,
.header .nav-toggler span::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #007f6e;

}
.header .nav-toggler span::before{
    transform: translateY(-8px);
}
.header .nav-toggler.active span::before{
    transform: rotate(45deg);
    transition: transform 0.5s ease;
}
.header .nav-toggler span::after{
    transform: translateY(8px);
}
.header .nav-toggler.active span::after{
    transform: rotate(-45deg);
    transition: transform 0.5s ease;
}
.header .nav{
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    width: 280px;
    background-color: #f8f8f8;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    overflow-y: auto;
    padding: 80px 0 40px;
    transition: transform 0.5s ease;
    transform: translateX(100%);
}
.header .nav.open{
    transform: translateX(0%);
}
.header .nav ul li a{
    display: block;
    font-size: 20px;
    color: #007f6e;
    padding: 10px 30px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: color 0.3s ease;
}
.header .nav ul li a:hover{
    color: #000;
}
/* Home section */
.home-section{
    position: relative;
    overflow: hidden;
}
.home-section::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color:#000000;
    opacity: 0.4;
    z-index: -1;
}
.home-section .home-bg{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: url('../images/bg3.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    z-index: -2;
    animation: zoomInOut 20s ease infinite;
}
.home-section .min-vh-100{
    padding: 100px 0;
}
.home-text{
    padding: 0 15px;
    max-width: 700px;
    width: 100%;
    margin: auto;
    text-align: center;
}
.home-text h1{
    font-family: "Gotham", sans-serif;
    font-size: 60px;
    line-height: 75px;
    margin: 0 0 5px;
    color: #007f6e;
}
.home-text h4{
    font-size: 24px;
    color: white;
}
.home-text p{
    margin: 0 0 30px;
    color: whitesmoke;
}
/* about section */
.about-section{
    background-color: #f8f8f8;
}
.about-text,
.about-img{
    width: 50%;
    padding: 0 15px;
}
.about-text h3{
    font-size: 22px;
    text-transform: capitalize;
    margin: 0 0 30px;
    text-align: center;
}
.about-text p{
    margin: 0 0 25px;
}
.about-text .btn{
    margin: 15px 0 0;
    color: #faf9f6;
    background-color: #007f6e;
}
.about-text .btn:hover{
    color: #007f6e;
    background-color: #f8f8f8;
}
.about-img img{
    width: 100%;
    border-radius: 10px;
}
.about-img .img-box{
    position: relative;
}
/* Solutions section */
.swiper-secton {
    background-color: #f8f8f8;
}
.swiper {
    height: 40rem;
}
.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.first {
    background-image: url(../images/AdobeStock_358596652.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.swiper-slide p {
    font-size: 30px;
    color: white;
}
.first:hover, .second:hover, .third:hover {
    opacity: .9;
}
.second {
    background-image: url(../images/scifi.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.third {
    background-image: url(../images/tree-g83d998ac2_1280.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.solutions-section{
    background-color: #e9e9e9;
}
.solutions-text,
.solutions-img{
    width: 50%;
    padding: 0 15px;
}
.solutions-text h3{
    font-size: 22px;
    text-align: center;
}
.solutions-text p{
    margin: 0 0 25px;
}
/* .solutions-text .btn{
.solutions-text .btn{
    margin: 15px 0 0;
    color: #faf9f6;
    background-color: #007f6e;
}
.solutions-text .btn:hover{
    color: #007f6e;
    background-color: #faf9f6;
} */
.solutions-img{
    margin-bottom: 3rem;
}
.solutions-img img{
    width: 100%;
    border-radius: 10px;
}
.solutions-img .img-box{
    position: relative;
}
/* Team section */
.team-section{
    background-color: #e9e9e9;
    padding-bottom: 50px;
}
.team-item{
    width: calc((100% / 3) - 30px);
    margin: 0 15px 30px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}
.team-author{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.team-author h3{
    font-size: 18px;
    margin:  0 0 3px;
}
.team-author span{
    display:block;
    font-size:14px
}
.team-author img{
    max-width: 100px;
    border-radius: 50%;
    border: 3px solid rgba(0,0,0,0.19);
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}
.team-author img:hover{
    border: 3px solid #007f6e;
}
.team-item p{
    margin: 15px 0;
    font-size: 18px;
}
/* contact page */
.contact-section{
    background-color: #f8f8f8;
    padding-bottom: 50px;
}
.contain{
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 80px;
}
.contain:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: url('../images/bg3.jpg') no-repeat center;
	background-size: cover;
	filter: blur(10px);
	z-index: -1;
}
.contact-box{
	max-width: 850px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #fff;
	box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
}
.left{
	background: url('../images/contact.jpg') no-repeat center;
	background-size: cover;
	height: 100%;
}
.right{
	padding: 25px 40px;
}
h2{
	position: relative;
	padding: 0 0 10px;
	margin-bottom: 10px;
    color: #004987;
}
h2:after{
	content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: #d6006d;
}
.field{
	width: 100%;
	border: 2px solid rgba(0, 0, 0, 0);
	outline: none;
	background-color: rgba(230, 230, 230, 0.6);
	padding: 0.5rem 1rem;
	font-size: 1rem;
	margin-bottom: 22px;
	transition: .3s;
}
.field:hover{
	background-color: rgba(0, 0, 0, 0.1);
}
textarea{
	min-height: 150px;
}
.cont{
    color: #004987;
}
.field:focus{
    border: 2px solid rgba(30,85,250,0.47);
    background-color: #fff;
}
/* footer */
.footer{
    padding: 80px 0 0;
    background-image: url(../images/bg3.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: relative;
    z-index: 1;
}
.footer::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    z-index: -1;
}
.footer-item{
    width: calc(100% / 2);
    padding: 0 15px;
    text-align: center;
}
.footer-item h3{
    font-family: 'Gotham';
    text-transform: capitalize;
    color: #007f6e;
    font-size: 23px;
    font-weight: 800;
    margin: 0 0 15px;
}
.footer-item p{
    line-height: 30px;
    font-size: 17px;
    color: #faf9f6;
}
.footer-space{
    margin-top: 20px;
}
.footer .copyright{
    margin: 80px 0 0;
    width: 100%;
    text-align: center;
    padding: 25px 15px;
    font-size: 14px;
    border-top: 1px solid #d6006d;
    color: #faf9f6;
}
.copyright p {
    font-size: 14px;
    font-weight: 600;
}
/* responsive */
@media (max-width:50rem){
    
    .home-text h1{
        font-size: 50px;
        line-height: 65px;
    }
    .menu-item,
    .about-text,
    .about-img, 
    .solutions-img,
    .solutions-text{
        width: 100%;
    }
    .testi-item{
        width: calc(50% - 30px);
    }
    .team-item{
        width: 50%;
    }
    .team-item:not(:last-child){
        margin-bottom: 75px;
    }
    .about-img{
        margin-top: 40px;
    }
    .about-text h3{
        font-size: 24px;
    }
    .menu-item:nth-last-of-type(2):after{
        border-bottom: 2px dashed var(--dark-light);
    }
    .order-1{
        order: 1;
    }
    .order-2{
        order: 2;
    }
    .order-3{
        order: 3;
    }
    .order-4{
        order: 4;
    }
    .team-item{
        width: calc(100% - 30px);
    }
    .contact-box{
		grid-template-columns: 1fr;
	}
    .contain {
        padding: 20px 30px;
    }
	.left{
		height: 200px;
	}
    .footer-item{
        width: 100%;
    }
    .footer-item:not(:last-child){
        margin-bottom: 30px;
    }
}
@media (max-width:575px){
    .team-item{
        width: 100%;
    }
}
